@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Web Monitoring";
    ViewData["HideFooter"] = true;
}
    
@section styles {
    <link href="~/assets/css/maps.css" rel="stylesheet">
}

<main id="main" class="main mt-1">
    <div id="maps"></div>
    
    <div class="tile_overlay tile-overlay1">
        <div class="tile_stats tile-stats1">
            <span class="count_top"><i class="fa fa-tint"></i> Pos Duga Air</span>
            <div class="count" id="totalDugaAir"></div>
        </div>
        <div class="tile_stats tile-stats1">
            <span class="count_top"><i class="fa fa-cloud-showers-heavy"></i> Pos Curah Hujan</span>
            <div class="count" id="totalCurahHujan"></div>
        </div>
        <div class="tile_stats tile-stats1">
            <span class="count_top"><i class="fa fa-cloud-sun"></i> Pos Klimatologi</span>
            <div class="count" id="totalKlimatologi"></div>
        </div>
    </div>
    
    <div class="tile_overlay tile-overlay2">
        <div class="tile_stats tile-stats2">
            <span class="count_top"><i class="fa fa-map-marker-alt"></i> Total Pos</span>
            <div class="count" id="totalPos"></div>
        </div>
        <div class="tile_stats tile-stats2">
            <span class="count_top"><i class="fa fa-building"></i> Total Instansi</span>
            <div class="count" id="totalInstansi"></div>
        </div>
    </div>
</main>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4jqcen5Xqrgck4V73aL6VepyKp2_wK1U&callback=initMap" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/assets/js/maps.js"></script>
    <script>
        $(document).ready(function () {
            // Fungsi untuk memperbarui jumlah pos
            function updateTotals() {
                // Panggil endpoint untuk total duga air
                $.ajax({
                    url: '/Main/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalDugaAir' },
                    success: function(response) {
                        $('#totalDugaAir').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalDugaAir').text('Error');
                    }
                });

                $.ajax({
                    url: '/Main/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalCurahHujan' },
                    success: function(response) {
                        $('#totalCurahHujan').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalCurahHujan').text('Error');
                    }
                });

                $.ajax({
                    url: '/Main/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalKlimatologi' },
                    success: function(response) {
                        $('#totalKlimatologi').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalKlimatologi').text('Error');
                    }
                });

                $.ajax({
                    url: '/Main/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalPos' }, // Parameter untuk total pos
                    success: function(response) {
                        $('#totalPos').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalPos').text('Error');
                    }
                });

                $.ajax({
                    url: '/Main/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalInstansi' },
                    success: function(response) {
                        $('#totalInstansi').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalInstansi').text('Error');
                    }
                });
                // Lanjutkan dengan pemanggilan untuk total lainnya...
            }

            // Panggil fungsi untuk memperbarui jumlah total saat halaman dimuat
            updateTotals();

            // Function to refresh DataTable and update last update time
            function refreshDataTable() {
                $('#offpos').DataTable().ajax.reload(null, false);
                updateLastUpdateTime();
            }
        });
    </script>
}